<div>
  {{#each}}
    {{img validUrl onload="IMG.incrementProperty('imgLoad');" onerror="IMG.incrementProperty('imgError');"}}
    {{img invalidUrl onload="IMG.incrementProperty('imgLoad');" onerror="IMG.incrementProperty('imgError');"}}
  {{/each}}
</div>
